.geo {
  width: 100%;
  padding: 40px 20px;

  @media (min-width: 768px) {
    padding: 40px 50px;
  }
}

.geo__section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.geo__content {
  text-align: center;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;

  .geo__screenshot + & {
    margin-top: 50px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h2 + p {
    margin-top: 35px;
  }
}

.geo__logo {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.geo__title {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}

.geo__info {
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    position: relative;
    padding-left: 18px;
    margin-top: 35px;

    @media (min-width: 768px) {
      width: 50%;
    }

    &:nth-child(1) svg {
      color: #5D9CEC;
    }

    &:nth-child(2) svg {
      color: #FD9B00;
    }

    &:nth-child(3) svg {
      color: #F94300;
    }

    &:nth-child(4) svg {
      color: #5FB91C;
    }
  }

  svg {
    position: absolute;
    left: 0;
    top: 5px;
  }

  strong {
    display: block;
    font-size: 35px;
    line-height: 35px;
  }
}

.geo__screenshot {
  .geo__content + &,
  & + & {
    margin-top: 50px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  }
}

.geo__demo {
  margin-top: 20px;
  text-align: center;
}

.geo__sign {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    display: flex;
  }

  li {
    margin-top: 20px;

    & + li {
      @media (min-width: 768px) {
        margin-left: 60px;
      }
    }

    @media (min-width: 768px) {
      width: 50%;
    }
  }
}

.geo__action {
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    display: flex;
  }

  li {
    & + li {
      @media (max-width: 767px) {
        margin-top: 10px;
      }

      @media (min-width: 768px) {
        margin-left: 10px;
      }
    }

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  a {
    background-color: #54AA5D;
    color: #fff;
    border-radius: 3px;
    padding: 13px 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: darken(#54AA5D, 5%);
    }
  }
}
