<main class="main">
  <div class="geo">
    <div class="geo__section">
      <div class="geo__logo">
        <img src="/media/geo.svg" width="135" height="135" alt="">
      </div>

      <div class="geo__title">
        <h1>Геолокация. Работа модуля</h1>
      </div>

      <ul class="geo__info">
        <li>
          <svg width="10" height="12">
            <use xlink:href="/media/icon-marker.svg#marker"></use>
          </svg>

          Ваш IP
          <strong>37.214.55.49</strong>
        </li>
        <li>
          <svg width="10" height="12">
            <use xlink:href="/media/icon-marker.svg#marker"></use>
          </svg>

          Координаты
          <strong>59.9:27.56667</strong>
        </li>
        <li>
          <svg width="10" height="12">
            <use xlink:href="/media/icon-marker.svg#marker"></use>
          </svg>

          Страна
          <strong>Беларусь</strong>
        </li>
        <li>
          <svg width="10" height="12">
            <use xlink:href="/media/icon-marker.svg#marker"></use>
          </svg>

          Город
          <strong>Санкт-Петербург</strong>
        </li>
      </ul>
    </div>

    <div class="geo__section">
      <ul class="geo__action">
        <li>
          <a href="#">
            Установить из Marketplace
          </a>
        </li>
        <li>
          <a href="#">
            Оставить заявку на установку модуля
          </a>
        </li>
      </ul>

      <div class="geo__demo">
        Online-demo: <a href="#"><strong>Аналитика посещаемости</strong></a>
      </div>
    </div>

    <div class="geo__section">
      <div class="geo__content">
        <h2>Аналитика посещаемости: Геолокация</h2>

        <p>После установки модуля доступен новый сервис геолокации:<br>
        <strong>Административная часть сайта > Настройки > Настройки продукта > Геолокация</strong></p>
      </div>

      <div class="geo__screenshot">
        <img src="/media/geo-1.png" width="860" height="397" alt="">
      </div>

      <div class="geo__content">
        <p>Для полноценной работы модуля необходимо внести данные лецензирования.<br>
        <strong>Для этого перейдите в режим редактирования сервиса и на вкладке «Дополнительные» внесите необходимые данные.</strong></p>
      </div>

      <div class="geo__screenshot">
        <img src="/media/geo-2.png" width="860" height="394" alt="">
      </div>

      <div class="geo__screenshot">
        <img src="/media/geo-3.png" width="860" height="336" alt="">
      </div>

      <ul class="geo__sign">
        <li>
          <strong>Идентификатор клиента</strong> — оставить неизменным.
        </li>
        <li>
          <strong>Ключ</strong> — лицензионный ключ (купон) битрикс на установленное решение.
        </li>
      </ul>
    </div>

    <div class="geo__section">
      <ul class="geo__action">
        <li>
          <a href="#">
            Установить из Marketplace
          </a>
        </li>
        <li>
          <a href="#">
            Оставить заявку на установку модуля
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
