.header {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

.header__nav {
  @media (max-width: 767px) {
    width: 100%;
    margin-top: 20px;
  }
}

.header__clip {
  @media (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
    clip-path: inset(0 0 20px 0);
    margin-bottom: -20px;
  }
}

.header__scroll {
  @media (max-width: 767px) {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
  }
}

.header__menu {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  li {
    flex-shrink: 0;
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 20px;

      @media (min-width: 768px) {
        margin-right: 35px;
      }
    }
  }

  a {
    color: inherit;

    &:hover {
      color: #5D9CEC;
    }
  }

  .active a {
    color: #5D9CEC;
  }
}
