.footer {
  font-size: 12px;
  line-height: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  color: #929292;

  @media (min-width: 768px) {
    padding-right: 50px;
    padding-left: 50px;
  }
}
